*
    {
        margin: 0px;
        padding: 0px;
    }

body
    {
        font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #333;
        background-color: #DEDEDE;
        width: 750px;
        margin: 0 auto;
        padding: 12px;
    }

h1, h2, h3, h4, h5, h6
    {
        font-family: "Raleway", Verdana, Arial, Helvetica, sans-serif;
    }

h1
    {
        font-size: 34px;
        margin: 20px 0 5px 0;
        font-style: italic;
    }

h2
    {
        font-size: 20px;
        margin-bottom: 0px;
    }

h3
    {
        font-size:13px;
        margin: 5px 0 10px 0;
    }

h4
    {
        font-size: 16px;
        margin: 12px;
    }

h5
    {
        font-size: 13px;
        margin: 5px 0 8px 0;
    }

#heading h5
    {
        font-size: 12px;
        margin: -12px 0 0 13px;
    }

h6
    {
        font-size: 10px;
        font-style: italic;
        margin: 5px 0 18px 0;
    }

p
    {
        padding: 10px;
        line-height: 1.58;
        margin-left: 20px;
    }

#heading
    {
        padding: 5px;
    }

timestamp
    {
        font-size: 10.5px;
        line-height: 15px;
        font-style: italic;
    }

#wrap
    {
        margin: auto;
        width: 80%;
        padding: 10px;
        text-align: center;
    }

#menu
    {
        padding: 3px;
    }

a, a:visited
    {
        font-family: Tahoma, Geneva, sans-serif;
        text-decoration: none;
        color: #333 ;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }

a:hover, a:active
    {
        text-decoration: none;
        color: #FFFFFF;
        text-shadow: 1px 1px 3px #000000;
    }

#menu a, #menu a:visited
    {
        font-size: 12px;
        line-height: 25px;
        letter-spacing: .15em;
    }

#menu i
    {
        line-height: 17px;
        font-size: 16px;
        vertical-align: middle;
    }

#heading a, #heading a:visited
    {
        font-size: 14px;
        line-height: 25px;
    }

#content
    {
        background: #BBBBBB;
        border-radius: 5px;
        border: 1px solid #000000;
        margin: 15px 43px;
        padding: 1px 15px 24px 0px;
        box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.25)
    }

#readme a
    {
        font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
        font-style: italic;
        font-weight: bold;
        font-size: 13px;
        line-height: 0px;
        margin-left: 30px;
    }

#newpost
    {
        margin: 15px 0px 0px 40px;
    }

#newuser
        {
            margin: 15px 0px 0px 40px;
        }

#newuser tr td
    {
        padding: 2px;
    }

.buttonish
    {
        text-align: center;
    }

#newuser table tbody tr td.caption
    {
        text-align: right;
        padding-right: 5px;
    }

#newpost .caption
    {
        font-size: 14px;
    }

#newuser table tbody tr td.error
        {
            text-align: left;
            padding-left: 5px;
        }

#newuser .buttonish input[type=submit]
    {
        margin: 10px 50px 10px 0;
    }

#newuser input[type=text], #newuser input[type=password], #newuser input[type=email]
    {
        font-size: 14px;
    }

#pagination, #return
    {
        font-size: 13px;
        margin: auto;
        width: 80%;
        padding: 10px;
        text-align: center;
    }

#pageoff
    {
        font-family: Tahoma, Geneva, sans-serif;
        text-decoration: none;
        color: #AAA;
    }

#bigerror
    {
        margin: auto;
        width: 80%;
        padding: 50px;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        color: red;
        font-size: 24px;
    }

hr
    {
        margin: auto;
        width: 95%;
        border : 0;
        height: 2px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
    }

label
    {
        display: block;
        font-size: 18px;
    }

.error
    {
        font-style: italic;
        font-weight: bold;
        line-height: 30px;
        color: red;
        font-size: 12px;
    }

input[type=text], input[type=password], input[type=email]
    {
        width: 400px;
        font-size: 20px;
        padding: 2px;
    }

textarea
    {
        width: 400px;
        height: 200px;
        font-size: 12px;
        font-family: monospace;
    }

input[type=submit]
    {
        font-size: 24px;
    }

.post + .post
    {
        margin-top: 20px;
    }

.post-title
    {
        font-weight: bold;
        font-size: 20px;
    }

.post-body
    {
        margin: 0;
        font-size: 17px;
    }

.post-author
    {
        font-style: italic;
        font-size: 12px;
    }

ul
    {
        list-style: none;
        padding: 0;
    }

div#multiColumn {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

li
    {
        padding: 4px 0 0 35px;
    }

nav #user-account
    {
        float: right;
    }
