{% extends 'base.html' %}

{% block title %}
<h2>Welcome to Blogz!</h2>
<h3>Meet Our Community</h3>
{% endblock %}

{% block content %}
<hr />
<article id="content">
    <section id="heading">
        <h4>Blog Contributors</h4>
    </section>
    <section id="body">
        <div id="multiColumn">
            <ul>
                {% for user in users %}
                <li><a href="/blog/{{ user.username }}"><i class="fa fa-user-circle"></i>&nbsp;{{ user.username }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
</article>
<hr />
<br />
{% endblock %}
