{% extends 'base.html' %}
{% block title %}
<h2>Post to Blogz!</h2>
<h3>We welcome your comments</h3>
{% endblock %}
{% block content %}
<hr />
<form id="newpost" method="post">
    <label>
        <span class="caption">Title:</span><br />
        <input type="text" name="title" value="{{title}}">
    </label>
    <label>
        <span class="caption">Post:</span><br />
        <textarea name="body">{{body}}</textarea>
    </label>
    <span class="error">{{ error|safe }}</span><br />
    <input type="submit" value="Submit Post"><br />&nbsp;
</form>
<hr />
<section id="return">
    Return to:<br />
    <a href="/"><i class="fa fa-arrow-circle-up"></i>&nbsp;Home Page</a>&nbsp;&#124;&nbsp;<a href="/blog"></i>All Posts&nbsp;<i class="fa fa-arrow-circle-up"></i></a>
</section>
{% endblock %}
