{% extends 'base.html' %}
{% block title %}
<section id="heading">
    <h4>{{ post.title }}</h4>
    <h5>
        Written by: <a href="/blog/{{ post.author }}">{{ post.author }}</a>
        <br />
        Posted on: {{ post.created.strftime("%B %d, %Y, %I:%M %p") }}
    </h5>
</section>
{% endblock %}
{% block content %}
<hr />
<article id="content">
    <section id="body">
        <p>{{ post.body }}</p>
    </section>
</article>
<hr />
<section id="return">
    Return to:<br />
    <a href="/blog"><i class="fa fa-arrow-circle-up"></i>&nbsp;All community posts</a>&nbsp;&#124;&nbsp;<a href="/blog/{{ post.author }}">All posts by {{ post.author }}&nbsp;<i class="fa fa-arrow-circle-up"></i></a>
</section>
{% endblock %}
