{% extends 'base.html' %}
{% block title %}
<h2>Welcome to the Blogz Team!</h2>
<h3>We look forward to reading your posts</h3>
{% endblock %}
{% block content %}
<hr />
<form id="newuser" method="post">
    <table>
        <tr>
            <td class="caption">
                <span class="caption">Username:</span>
            </td>
            <td>
                <input name="username" type="text" value="{{ username }}">
            </td>
            <td class="error">
                <span class="error">{{ errors.username_error }}</span>
            </td>
        </tr>
        <tr>
            <td class="caption">
                <span class="caption">Password:</span>
            </td>
            <td>
                <input name="password" type="password" />
            </td>
            <td class="error">
                <span class="error">{{ errors.password_error }}</span>
            </td>
        </tr>
        <tr>
            <td class="caption">
                <span class="caption">Verify Password:</span>
            </td>
            <td>
                <input name="verify" type="password" />
            </td>
            <td class="error">
                <span class="error">{{ errors.verify_error }}</span>
            </td>
        </tr>
        <tr>
            <td class="caption">
                <span class="caption">Email:</span>
            </td>
            <td>
                <input name="email" type="email" value="{{ email }}" />
            </td>
            <td class="error">
                <span class="error">{{ errors.email_error }}</span>
            </td>
        </tr>
    </table>
    <div class="buttonish"><input type="submit" value="Join Blogz!"></div>
</form>
<hr />
<section id="return">
    Return to:<br />
    <a href="/"><i class="fa fa-arrow-circle-up"></i>&nbsp;Home Page</a>&nbsp;&#124;&nbsp;<a href="/blog"></i>All Posts&nbsp;<i class="fa fa-arrow-circle-up"></i></a>
</section>
{% endblock %}
